[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[core]
        editor = vim
	autocrlf = input
[diff]
        tool = vimdiff
[difftool]
        prompt = false
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	trustExitCode = false
	cmd = kdiff3 $BASE $LOCAL $REMOTE -o $MERGED
[alias]
	ls = log --reflog --oneline --graph -n 10
	ls3 = log --reflog --oneline --graph -n 30
	unstage = reset HEAD --
	view = !gitk --all
